@font-face {
    font-family: 'Bebas Neue';
    font-style:  normal;
    src: 
       url('../BebasFonts/BebasNeue\ Bold.otf'),
       url('../BebasFonts/BebasNeue\ Bold.ttf'),
       url('../BebasFonts/BebasNeue\ Thin.ttf')
}

@font-face {
    font-family: 'Maison Neue';
    src: url('../BebasFonts/MaisonNeue-Book.ttf');
}