.advantages{
    padding: 105px 0 105px 0;
    &_title {
        font-family: Bebas Neue;
        font-style: normal;
        font-weight: bold;
        font-size: 80px;
        line-height: 80px;
        text-shadow: #000000 1px 1px 0, black -1px -1px 0, black -1px 1px 0, black 1px -1px 0;
        color: rgb(255 255 255);

    }
    &_cards {
        display: flex;
        margin-top: 50px;
        justify-content: space-between;
        .card {
            padding: 60px;
            margin-right: 30px;
            width: 345px;  
            border: 1px solid #000000;
            display: flex;
            align-items: center;
            flex-direction: column;
            text-align: center;
            cursor: pointer;
            &:hover {
                border: 1px solid #E31E24;
                    svg {
                        stop {
                            stop-color: #E31E24;
                        }
                        path {
                            fill: #E31E24;
                        }
                        
                    }
                
            }
            span {
                margin-top: 15px;
            }

        }
    } 
}

@media (max-width: 1080px) {
    .advantages {
        &_cards {
            flex-wrap: wrap !important;
            .card {
                margin-top: 20px !important;
                margin-right: 0px;
            }
        }
    }
}
