* {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
@font-face {
  font-family: 'Corporation Games';
  font-style:  normal;
  font-weight: 100;
  src: 
      url("/Corporation Games.otf") format("otf"),
      url("/Corporation Games.woff") format("woff"),
      url('../src/fonts/Corporation\ Games.otf');
}

.container {
  width: 1460px;
  margin: 0 auto;
}

.slick-slider .slick-initialized {
  width: 620px !important;
}
.slick-arrow, .slick-prev {
  display: none !important;
}

@media (max-width: 1024px) {
  .container {
    width: 90%;
    margin: 0 auto;
  }
}
